body{
	 background: url(file:///C:/Users/PUNITH%20CHOWDARY/Pictures/pin-emma-watson-long-hair-free-pinterest-picture-278183.jpg);
}
h2{
	background: brown;
	color: white;
	border-style: dotted;
	border-width: 2px;
	padding-left: 200px;
	margin-right: 700px;
}
table{
	padding: 10px;
}